body {
    background-image: url('img/loginBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #e3e3e8;
}

.boxHolder {
    position: relative;
    margin: 15% auto;
    width: 25%;
    /* background-color: #757575; */
    /* opacity: .3; */
    border: 1px;
    border-style: solid;
    border-color: azure;
    border-radius: 15px;
    /* z-index: -1; */
    padding: 2%;
}

.logo {
    /* margin: 10% 25%; */
    position: absolute;
    /* margin: 5%; */
    /* margin-right: auto; */
    width: 80%;
    opacity: 1;
    /* color: #ffffff; */
    /* z-index: 1; */
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
    opacity: 0.5;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
    opacity: 0.5;
}